@import 'src/styles/main.scss';

.certificate-wrapper{
    width: 100vw;
    padding: 0 $grid-margin-width;
}

    .no-certificates-wrapper{
        display: flex;
        flex-direction: column;
    }
    
        .grey-block{
            background-color: #bed8ff;
            position: absolute;
            z-index: -1;
            margin-left: -$grid-margin-width;
            width: 100%;
            height: 400px;
        }
    
        .robot-illustration{
            position: absolute;
            top: 97px;
            right: 0;
            width: 820px;
            object-fit: contain;
        }
    
        .large-text{
            display: inline-block;
            margin-top: 140px;
            margin-left: 40px;
            color: white;
            font-weight: bold;
            font-size: 200px;
        }
    
        .subtext{
            color: color(black);
            display: inline-block;
            font-size: $h4-size;
            margin-left: 50px;
        }
    
        .link{
            cursor: pointer;
            font-weight: bold;
            color: color(blue);
            text-decoration: underline !important;
            margin-top: 10px;
        }

    .full-name{
        font-weight: bold;
        color: darkgrey;
        font-size: 16px;
    }

    .logout{
        color: darkgrey;
        font-size: 16px;
    }

    .title{
        font-weight: bold;
        color: #006494;
        font-size: 25px;
    }