<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="overlay" (click)="closeDialog()"></div>
    <div class="dialog-container d-flex flex-column align-items-start">
        <div class="actions d-flex pt-1">
            <span style="cursor: pointer;" (click)="closeDialog()">Close</span>
        </div>
        <h5>Version</h5>
        <span>{{certificate.version}}</span>
        <h5>Serial number</h5>
        <span>{{certificate.serialNumber}}</span>
        <div class="d-flex align-items-center justify-content-between w-100">
            <h5>Issuer</h5>
            <div><span class="link mb-0" (click)="fetchIssuerCertificate()">See certificate</span></div>
        </div>
        <span class="mb-2">CN = {{certificate.issuerCN}}</span>
        <span class="mb-2">O = {{certificate.issuerO}}</span>
        <span class="mb-2">L = {{certificate.issuerL}}</span>
        <span class="mb-2">S = {{certificate.issuerS}}</span>
        <span>C = {{certificate.issuerC}}</span>
        <h5>Subject</h5>
        <span class="mb-2">CN = {{certificate.subjectCN}}</span>
        <span class="mb-2">O = {{certificate.subjectO}}</span>
        <span class="mb-2">L = {{certificate.subjectL}}</span>
        <span class="mb-2">S = {{certificate.subjectS}}</span>
        <span>C = {{certificate.subjectC}}</span>
        <h5>Validity period</h5>
        <span class="mb-2">Valid from: {{certificate.validFrom}}</span>
        <span>Valid to: {{certificate.validTo}}</span>
        <h5>Public key</h5>
        <span>{{certificate.publicKey}}</span>
        <h5>Basic Constraints</h5>
        <span>Subject Type = {{certificate.subjectType}}</span>
        <h5>Key Usage</h5>
        <div *ngFor="let keyUsage of certificate.keyUsages">
            <span class="mb-2">{{keyUsage.keyUsageValue | keyUsage}}</span>
        </div>
        <h5>Extended Key Usage</h5>
        <div *ngFor="let extendedKeyUsage of certificate.extendedKeyUsages">
            <span class="mb-2">{{extendedKeyUsage | extendedKeyUsage}}</span>
        </div>
    </div>
</div>
