<div class="issue-wrapper">
    <h3>Issue a certificate</h3>
    <hr>
    <div class="d-flex flex-wrapper">
        <div class="template-wrapper d-flex flex-column">
            <div class="radio-button-wrapper">
                <label>
                    <input type="radio" class="radio-button" name="sort" />
                    Template 1
                </label>
            </div>
            <div class="radio-button-wrapper">
                <label>
                    <input type="radio" class="radio-button" name="sort" />
                    Template 2
                </label>
            </div>
            <div class="radio-button-wrapper">
                <label>
                    <input type="radio" class="radio-button" name="sort" />
                    Template 3
                </label>
            </div>
        </div>
        <div class="d-flex flex-column issue-form-wrapper">
            <div class="d-flex w-100">
                <div class="form-part extensions d-flex flex-column">
                    <div class="input-container w-100">
                        <label for="subject-type" class="input-label">Subject Type</label>
                        <select id="subject-type" name='subject-type'>
                            <option *ngFor="let subjectType of subjectTypes">{{subjectType}}</option>
                        </select>
                    </div>
                    <div class="input-container w-100">
                        <label for="key-usage" class="input-label">Key Usage</label>
                        <select id="key-usage" name='key-usage'>
                            <option *ngFor="let keyUsage of keyUsages">{{keyUsage}}</option>
                        </select>
                    </div>

                    <div class="input-container w-100">
                        <label for="enhanced-key-usage" class="input-label">Enhanced Key Usage</label>
                        <select id="enhanced-key-usage" name='enhanced-key-usage'>
                            <option *ngFor="let enhancedKeyUsage of enhancedKeyUsages">{{enhancedKeyUsage}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-part validity">
                    <div class="input-container w-100">
                        <label for="cert" class="input-label">Certificate to sign with</label>
                        <input id="cert" type="text" name="cert">
                    </div>
                    <div class="input-container w-100">
                        <label for="valid-from" class="input-label">Valid from</label>
                        <input id="valid-from" type="text" name="valid-from">
                    </div>
                    <div class="input-container w-100">
                        <label for="valid-to" class="input-label">Valid to</label>
                        <input id="valid-to" type="text" name="valid-to">
                    </div>
                </div>
                <div class="form-part subject-info">
                    <div class="input-container w-100">
                        <label for="acc-email" class="input-label">Account email</label>
                        <input id="acc-email" type="text" name="acc-email">
                    </div>
                    <div class="input-container w-100">
                        <label for="common-name" class="input-label">Common name</label>
                        <input id="common-name" type="text" name="common-name">
                    </div>
                    <div class="input-container w-100">
                        <label for="country" class="input-label">Country</label>
                        <input id="country" type="text" name="country">
                    </div>
                    <div class="input-container w-100">
                        <label for="state" class="input-label">State</label>
                        <input id="state" type="text" name="state">
                    </div>
                    <div class="input-container w-100">
                        <label for="city" class="input-label">City</label>
                        <input id="city" type="text" name="city">
                    </div>
                </div>
            </div>
            <app-primary-button [text]="'Create'" class="create-btn"></app-primary-button>
        </div>
    </div>
</div>