@import 'src/styles/main.scss';

.no-certificates-wrapper{
    display: flex;
    flex-direction: column;
}

    .grey-block{
        background-color: #cecece;
        position: absolute;
        z-index: -1;
        margin-left: -$grid-margin-width;
        width: 100%;
        height: 400px;
    }

    .robot-illustration{
        position: absolute;
        top: 124px;
        right: 0;
        width: 820px;
        object-fit: contain;
    }

    .large-text{
        display: inline-block;
        margin-top: 140px;
        margin-left: 40px;
        color: white;
        font-weight: bold;
        font-size: 200px;
    }

    .subtext{
        color: color(black);
        display: inline-block;
        font-size: $h4-size;
        margin-left: 50px;
    }

    .link{
        cursor: pointer;
        font-weight: bold;
        color: color(blue);
        text-decoration: underline;
        margin-top: 10px;
    }

.issue-wrapper{
    padding: 0 $grid-margin-width;
}

    h3{
        color: color(blue) !important;
    }

    hr{
        margin-left: -$grid-margin-width;
        margin-right: -$grid-margin-width;
        margin-bottom: 0px;
    }

    .template-wrapper{
        padding: 30px;
        width: 20%;
    }

        .radio-button-wrapper {
            margin-bottom: 5px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: color(darkgrey);
        }

            label{
                cursor: pointer;
                display: flex;
                align-items: center;
            }

                .radio-button {
                    margin-right: 8px;
                    cursor: pointer;
                    margin-left: 2px;
                    box-shadow: none !important;
                    width: 20px;
                    height: 20px;
                }

    .issue-form-wrapper{
        border-left: 1px solid color(lightgrey);
        width: 80%;
        padding: 30px 80px 30px 80px;
    }

        .form-part{
            width: 33.33%;
            margin-left: 15px;
            margin-right: 15px;

            &:first-child{
                margin-left: 0;
            }

            &:last-child{
                margin-right: 0;
            }
        }

            h4{
                color: color(darkgrey);
                margin-bottom: 20px !important;
            }

            .input-container{
                height: 59px;
                margin-bottom: 20px;
            }

        .create-btn{
            width: calc(33.33% - 20px);
            align-self: flex-end;
        }

        .key-usage-grid{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            row-gap: 10px;
            color: color(darkgrey);
            margin-bottom: 20px;
        }

            .checkbox{
                cursor: pointer;
                min-width: 16px;
                height: 16px;
            }

            .checkbox-label{
                margin-left: 5px;
                @include noselect;
            }

        .extended-key-usage-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            row-gap: 10px;
            color: color(darkgrey);
            margin-bottom: 20px;
        }
            


