<div class="register-wrapper d-flex align-items-center justify-content-center">
    <div class="register-form-wrapper d-flex flex-column">
        <app-allsafe-logo class="logo"></app-allsafe-logo>
        <form class="d-flex flex-column align-items-center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-container w-100" [ngClass]="{'input-container-error' : (registerForm.controls.email.touched && registerForm.controls.email.errors)}">
                <label for="email" class="input-label">Email address</label>
                <input id="email" type="text" name="email" formControlName="email" (keyup.enter)="onSubmit()">
                <span class="error-message" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.['required']">Email address cannot be empty.</span>
                <span class="error-message" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.['email']">You must enter valid email address.</span>
            </div>
            <div class="input-container w-100" [ngClass]="{'input-container-error' : (registerForm.controls.password.touched && registerForm.controls.password.errors?.['required'])}">
                <label for="password" class="input-label">Password</label>
                <input id="password" type="password" name="password" formControlName="password" (keyup.enter)="onSubmit()">
                <span class="error-message" *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.['required']">Password cannot be empty.</span>
            </div>
            <app-primary-button [text]="'Register'" class="w-100" [disabled]="!registerForm.valid" (click)="onSubmit()"></app-primary-button>
            <span class="grey-text">Already have an account?<a routerLink="/onboarding/login"> Sign in.</a></span>
        </form>
    </div>
</div>
