@import 'src/styles/main.scss';

.navbar{
    padding: 20px $grid-margin-width 20px;
}
    
    span{
        color: color(darkgrey);
    }

    .nav-item{
        display: inline-block;
        cursor: pointer;
        color: color(darkgrey) !important;
    }

    .active{
        font-weight: bold;
        color: color(blue) !important;
    }

    .hidden{
        display: none;
    }