@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;700&display=swap');
 
$base-font-family: 'Roboto', sans-serif;
$support-font-family: 'Bebas Neue', cursive;

$light-font-weight: 300;
$bold-font-weight: 700;